@media(max-width:768px) and (min-width: 321px){
.choose{
    width: 100%;
    height:790px;
    margin:0 auto;
    margin-top: 50px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}


input#submit_button {
  display: inline-block;
    text-decoration: none;
    background: #ff3b00;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #ff3b00;
    border: dashed 1px #FFF;
    transition: .4s;
	font-size: 30px;
	margin-left: 30%;

    
}
}
@media(min-width:769px){
.choose{
    width: 100%;
    height:250px;
    margin:0 auto;
    margin-top: 50px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

input#submit_button {
  display: inline-block;
    text-decoration: none;
    background: #ff3b00;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #ff3b00;
    border: dashed 1px #FFF;
    transition: .4s;
	font-size: 30px;
	position:absolute; 
	left:64%; 
	top:80%;
    
}
}

@media(max-width:320px){
.choose{
    width: 100%;
    height:790px;
    margin:0 auto;
    margin-top: 50px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

input#submit_button {
  display: inline-block;
    text-decoration: none;
    background: #ff3b00;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #ff3b00;
    border: dashed 1px #FFF;
    transition: .4s;
	font-size: 30px;
	margin-left: 30%;

    
}
}

@media(min-width:769px){
.text1{
    margin:0 auto;
    float:left;
    margin-top:-10px;
    color: #C0C0C0;
    font-size: 20pt;
    color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.intro1{
    color:white;
    font-size: 25pt;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    margin-left: 70px;
}

.intro2{
    color:#C0C0C0 ;
    font-size: 15pt;
}

input::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 10pt;
}
input:-moz-placeholder {
    color: #C0C0C0;
    font-size: 10pt;
}
input::-moz-placeholder {
    color: #C0C0C0;
    font-size: 10pt;
}
input:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 10pt;
}

}

@media(max-width:768px) and (min-width: 321px){
    .text1{
    margin: 0 auto;
    margin-top:20px;
    font-size: 10pt;
    color:#FF6B60 ;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.intro1{
    color:#FF6B60;
    font-size: 10pt;
    margin-left: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.intro2{
    color:#C0C0C0 ;
    font-size: 10pt;
}

input::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 10pt;
}
input:-moz-placeholder {
    color: #C0C0C0;
    font-size: 10pt;
}
input::-moz-placeholder {
    color: #C0C0C0;
    font-size: 10pt;
}
input:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 10pt;
}

}
@media(max-width:320px){
.text1{
    margin-left: 10px;
    margin-top:20px;
    font-size: 10pt;
    color:#FF6B60;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.intro1{
    color:#FF6B60;
    font-size: 15pt;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    margin-left: 70px;
}

.intro2{
    color:#C0C0C0 ;
    font-size: 15pt;
}

input::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 10pt;
}
input:-moz-placeholder {
    color: #C0C0C0;
    font-size: 10pt;
}
input::-moz-placeholder {
    color: #C0C0C0;
    font-size: 10pt;
}
input:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 10pt;
}

}
    
@media(min-width:769px) {
.positive{
    width: 150px;
    float: left;
    margin-right:125px;
    margin-left: 200px;
}

.negative{
    width:150px;
    float:left;
    margin-right:125px; 
}

.feeling{
    width:150px;
    float:left;
}
}

@media(max-width: 321px){
.positive{
    width: 50%;
    margin: 0 auto;
}

.negative{
    width: 50%;
    margin: 0 auto;
}

.feeling{
     width: 50%;
    margin: 0 auto;
}
}

@media(max-width:768px) and (min-width: 321px){
.positive{
    width: 50%;
    margin: 0 auto;

}

.negative{
    width: 50%;
    margin: 0 auto;
}

.feeling{
     width: 50%;
    margin: 0 auto;
}
}

.intro {
    font-weight: 200;
    font-size: 25px;
    margin-top:50px;
    text-align: center;
}

.inside {
    font-weight: 200;
    font-size: 15px;
    margin-top:50px;
    text-align: center;
}

.result {
    font-weight: 200;
    font-size: 25px;
    text-align: center;
}

.setsumei{
    text-align: center;
}





.choosebtn{
    text-align: center;
}



.te{
    margin-top: 10px;
    padding: 10px 50px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

input[type=checkbox] {
	display: none; 	/* チェックボックスを非表示にする */
}




.label {
    background: #FF6B60;
	display: block;		/* ブロックレベル要素化する */ 
	float: left;		/* 要素の左寄せ・回り込を指定する */ 
	margin: 5px;		/* ラベル外側の余白を指定する */
	width: 150px;		/* ラベルの横幅を指定する */
	height: 50px;		/* ラベルの高さを指定する */
	text-align: center;	/* テキストのセンタリングを指定する */
	line-height: 45px;	/* 行の高さを指定する */
	padding-left: 5px;	/* ラベル内左側の余白を指定する */
	padding-right: 5px;	/* ラベル内右側の余白を指定する */
	cursor: pointer;		/* マウスカーソルの形（リンクカーソル）を指定する */
	color:black;			/* フォントの色を指定 */
	border: 2px solid #FF6B60;/* ラベルの境界線を実線で指定する */
	border-radius: 5px;		/* 角丸を指定する */
}

input[type=checkbox]:checked + label {
	background: black;/* マウス選択時の背景色を指定する */
	color: #ffffff; 	/* マウス選択時のフォント色を指定する */
}

.text{
   font-size: 25px;
   margin-top: 7px;
}





input#submit_button:hover{
    background: #ff8b00;
     box-shadow: 0px 0px 0px 5px #ff8b00;
}


.workon{
    font-size: 25px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.result{
    font-size: 11pt;
    font-family:Arial;
    text-align:left;
    color:black;
}

.container1{
    background-color:white;
    margin:0 auto;
    margin-top: 70px;
    width:60%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.workonon{
    font-size: 11pt;
    font-family:Arial;
    color:black;
    margin-top: -40px;
}

@media(min-width:769px){
.zentai{
   background-image:url(../img/background.jpg);
   /*background-color: F0F0F0;*/
   background-size: cover;
   height: 770px;
}
}

@media(max-width:768px) and (min-width: 321px){
.zentai{
   width: 100%;
   /*background-color: F0F0F0;*/
   background-size: cover;
   height: 1000px;
}
}

@media(max-width:320px){
.zentai{
    width:100%;
   /*background-color: F0F0F0;*/
   background-size: cover;
   height: 1000px;
}
}
/*.zentai2{*/
/*      background-color:rgba(100,100,100,0.8);*/
/*       height: 700px;*/
/*}*/


.botann{
    padding-top: 1000px;
}





.row {
    padding-top: 50px;
    
}

label[for="tired"] {

background:#299EAC;
border: 2px solid #299EAC;
}

label[for="confused"] {

background:#299EAC;
border: 2px solid #299EAC;
}

label[for="worried"] {

background:#299EAC;
border: 2px solid #299EAC;
}

label[for="hard"] {

background:#299EAC;
border: 2px solid #299EAC;
}

label[for="nervous"] {

background:#299EAC;
border: 2px solid #299EAC;
}



label[for="impressed"] {

background:#FF9914;
border: 2px solid #FF9914;
}

label[for="important"] {

background:#FF9914;
border: 2px solid #FF9914;
}

label[for="special"] {

background:#FF9914;
border: 2px solid #FF9914;
}


.btnback {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    margin: 0 auto;
    background: #ff3b00;
	display: block;		/* ブロックレベル要素化する */ 	
	margin: 5px;		/* ラベル外側の余白を指定する */
	width: 150px;		/* ラベルの横幅を指定する */
	height: 50px;		/* ラベルの高さを指定する */
	text-align: center;	/* テキストのセンタリングを指定する */
	line-height: 45px;	/* 行の高さを指定する */
	padding-left: 5px;	/* ラベル内左側の余白を指定する */
	padding-right: 5px;	/* ラベル内右側の余白を指定する */
	cursor: pointer;		/* マウスカーソルの形（リンクカーソル）を指定する */
	color:white;			/* フォントの色を指定 */
	border: 2px solid  #ff3b00;
	border-radius: 5px;	
	font-size: 30px;
	position:relative; 
	left:66.6%; 
	top:0%;
}

@media(min-width:769px){
.tenten{
    font-size:50px;
    color:white;
}
.hosoku{
    margin-left:400px;
}
}

@media(max-width:768px){
 .tenten{
     color:#FF6B60;
 }
 .hosoku{
    margin-left:140px;
}
}

.tyuui{
    color:red;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}